.CardItem{
    background-color: darkblue;
    width: 25%;
}

.Header{
    background-color: gray;
}

.ItemHeader{
    color: aliceblue;
    text-align: center;
}

.ItemImg{
    width: 300px;
    height: 300px;
    margin: 4px 0 4px 7px;
}

.Info{
    text-align: center;
    font-size: 20px;
    color: aliceblue;
}

.ItemFooter{
    text-align: center;
    padding: 3px;
}